@import "js/reveal.js/css/reveal.scss";
@import "js/reveal.js/css/theme/source/white.scss";
@import "css/helpers.scss";

$main-colour: black;

body {
  color: $main-colour;
  background: url('img/crumpled_white_paper_texture_by_melemel2.jpg') no-repeat center center / cover;
}



body,
.reveal {
  font-family: 'Asap', sans-serif;
}

.reveal {

  .home-logo {
	max-width: 25%;
  }

  .refuge-map {
	height: 600px;

	svg {
	  max-height: 100%;
	}

	#Chat_properties,
	#Nouvelles {
	  opacity: 0;
	}

	&.refuge-map-2 {
	  #Nouvelles {
		opacity: 1;
	  }
	}

	&.refuge-map-3 {
	  #Chat_properties,
	  #Nouvelles {
		opacity: 1;
	  }
	}

  }

  .cat-properties-planning-table {
	font-size: 2.5vh;
  }

  .zoom-in-benevoles {
	transform: translateX(60%) scale(3);
	-webkit-transform: translateX(60%) scale(3);
  }

  .zoom-in-chats {
	transform: translate(-80%, -30%) scale(3);
	-webkit-transform: translate(-80%, -30%) scale(3);
  }
  .zoom-in-chats {
	transform: translate(-60%, -30%) scale(2.2);;
	-webkit-transform: translate(-60%, -30%) scale(2.2);;
  }



  img {
	&.full-width {
	  width: 100%;
	}

	#main-site-map {
	  #Chat_properties {
		transition: 500ms;
		opacity: 0;
	  }

	  &.step-1 {

	  }

	  .step-2 & {
		transform: scale(5);
		#Chat_properties {
		  opacity: 1;
		}
	  }

	}

  }

}

// .reveal