#example_static {
  background: #E0E0E0;
  padding: 20px 30px 0;
  width: 1020px;
}
#example_static .header {
  background: #BBDEFB;
}
#example_static .logo-image {
  background: #00E676;
  border-radius: 100px;
  height: 115px;
  margin: 0 auto 20px;
  width: 115px;
  margin-top: 20px;
}
#example_static .main-title {
  background: #2979FF;
  height: 65px;
  margin-top: 20px;
}
#example_static .sub-title {
  background: #00796B;
  height: 25px;
  margin-top: 20px;
}
#example_static .content-area {
  margin-top: 20px;
}
#example_static .article-container {
  background: #4FC3F7;
}
#example_static .article-container .article-title {
  background: #69F0AE;
  height: 75px;
  margin-top: 20px;
}
#example_static .article-container .article-meta {
  background: #FF8A65;
  height: 30px;
  margin-top: 20px;
}
#example_static .article-container .article-content {
  background: #FFFF00;
  height: 250px;
  margin-top: 20px;
}
#example_static .sidebar {
  background: #FF9100;
  float: right;
  height: 415px;
}
#example_static .element {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
